@import url('root.css');
.imagen-principal {
    margin-top: 25px;
    height: 450px;
    width: 100%;
    display: flex;
    background-image: url("../img/image1.jpg");
    background-repeat: no-repeat;
    background-position:center;
}
.producto-destacado {
    margin-top: 25px;
    height: 400px;
    width: 100%;
    display: flex;
    background-image: url("../img/image2.jpg");
    background-repeat: no-repeat;
    background-position:center;
}
#index-destacados{
    margin:50px auto;
    text-align: center;
}
#index-destacados h1,h5{
    margin: 0 0;
}
.titulo-seccion{
    text-align: center;
    text-transform: uppercase;
    color:var(--color5);
}
#marcas .titulo-seccion{
    margin-bottom: 0;
}
.categorias-iconos{
    border: 4px solid var(--color5);
    padding: 50px;
    width: 100%;
    font-size: 80px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    text-align: center;
    gap: 50px;
}
.categorias-iconos a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
    color:var(--color2);
    text-decoration: none;
}
.categorias-iconos a:hover{
    color: var(--color3);
    transform: scale(1.5);
    transition: 0.4s;
}
.categorias-iconos span{
    font-size: medium;
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick.slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
