@import url('root.css');
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */ 
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    background-color: var(--color4);
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 1.5;
}

/*Globales*/

.contenedor{
    
    margin: 50px auto; 
    min-height: calc(100vh - 250px); 
}
a{
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuente);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
} 
@media (min-width: 992px) { 
    .contenedor{
        max-width: 120rem;
        width: 90%;
    }
}
/* HEADER*/
header {
    /* background-color: var(--color2); */
    background: rgb(57,85,99);
    background: linear-gradient(86deg, rgba(57,85,99,1) 0%, rgba(125,161,177,1) 100%);
    padding: 10px 50px;
    height: 80px;
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
header div{
    display: flex;
    align-items: center;
}
.buscador {
    position: relative;
    width: 271px;
  }
  
.buscador input {
    box-sizing: border-box;
    color: #191919;
    padding: 15px 15px 15px 35px;
    width: 100%;
    border-radius: 10px;
}
    
.buscador i {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    font-size:20px;
    margin-right: 10px;
}
header a{
    font-size:48px;
    color: var(--color5);
}
header .enlace-carrito:hover{
    color: var(--color4);
}
/* BARRA DE NAVEGACION */
.barra-navegacion ul {
    list-style-type: none;
    margin: 0 50px;
    padding: 0;
    overflow: hidden;
    background-color: var(--color1);
}
.barra-navegacion li {
    float: left;
}
.barra-navegacion li a {
    display: block;
    color: var(--blanco);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.barra-navegacion li a:hover {
    background-color: #111;
    transition: 0.4s;
}
.nav-active {
    background-color: var(--color3);
}
/* FOOTER */
footer{
    margin-top: 25px;
    background-color: var(--color3);
    height: 250px;
    color: var(--blanco);
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 50px;
}
footer div ul{
    font-size: 2rem;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

footer div h5{
    text-transform: uppercase;
}
.footer-iconos{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 50px;
}
.footer-iconos a{
    text-decoration: none;
    color: var(--blanco);
}
.footer-iconos p{
    text-align: center;
}
.lista-numeros{
    font-size: medium;
    font-weight: 600;
}
.lista-numeros li:nth-child(even){
    text-align: end;
    font-weight: 300;
}
.lista-integrantes{
    list-style:inside;
    font-size: medium;
}
.footer-mapa {
    width: 80%;
    height: 200px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
#footerNumeros,#footerLocalizacion,#footerIntegrantes{
    display: none;
}
#footerLocalizacion h4{
    font-size: medium;
    text-align: center;
    margin: 0;
    margin-bottom: 9px;
}
@media (min-width: 992px) {
    footer{
        height: 350px;
    }
    #footerNumeros,#footerLocalizacion,#footerIntegrantes{
        display:block;
    }
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}